h1 {
  text-align: center;
  font-family: monospace;
  color: red;
}

h3 {
  color: blue;
  text-align: center;
}

.mypic {
display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 25%;
}

#navi{
  display: block;
  text-align: center;

}

a {
  align-items: center;
}
